name: Dev CI/CD

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    needs: test
    environment: dev

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/booking-service:dev .

      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/booking-service:dev

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: dev

    steps:
      - name: Checkout Helm Charts
        uses: actions/checkout@v4
        with:
          repository: APSList/Hostflow
          path: helm
          token: ${{ secrets.GH_TOKEN }}
          ref: dev

      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DEV }}" | base64 --decode > $HOME/.kube/config

      - name: Deploy to DEV with Helm
        run: |
          helm upgrade --install hostflow-dev ./helm/charts/booking-service \
            --namespace dev \
            --set image.repository=${{ secrets.DOCKERHUB_USERNAME }}/booking-service \
            --set image.tag=dev \
            --set image.pullPolicy=Always
